<link rel="stylesheet" href="/css/style.css">
<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon" />

<form action="/item/edit" method="POST" id="editform">
    <h2><label>Edit item details</label></h2>
    <center>Add any picture you want by pasting the image url here!<br>
      Images of dimensions 400x400px (or as long as it's square) will yield the most aesthetically appealing results.</center><br>
    <% foundItem.forEach(function(item, index) {%>
    <div class="form-group">
      <label>Title: </label>
      <textarea name="title" form="editform" id="title" autofocus="autofocus"> <%= item.title %> </textarea>
    </div>

    <div class="form-group">
      <label>Description: </label>
      <textarea name="description" form="editform" id="description"> <%= item.description %> </textarea>

    </div>

    <div class="form-group">
    <label>Tag: </label>
      <input type="text" class="form-control" id="tag" placeholder="Tag" name="tag" value="<%= item.tag %>">
    </div>

    <div class="form-group">
    <label>Image URL: </label>
      <input type="text" class="form-control" id="imageurl" placeholder="Image URL" name="imageurl" value="<%= item.imageurl %>">
    </div>

    <input type="hidden" name="item_id" value="<%= item._id%>" />
    <center><input type="submit"></input></center>
  </form>
        <% }) %>
