<html>
<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bunny's Basket</title>
</head>

<body style="background: white">
    <div id="logoutbutton">
        <form action="/auth/logout" method="GET">
            <input id="logout" type="submit" value="LOG OUT"></input>
          </form>
    </div>
    <h1>Welcome, <%= userName %>!</h1>
    <center><img src="../img/hellowelcome.png"></center>

    <div id="additemdiv">
        <form action="/create" method="GET">
            <input class="pulse" id="additem" type="submit" value="Add an item"></input>
        </form>
    </div>

    </div>

    <form action="/homepage" method="POST">
        <h2 style="font-size: 30px"><label>Search for item(s) by tag</label></h2>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter tag here" name="search" autofocus="autofocus">
        </div>
    </form>
    <h3><% include ./partials/alerts %><h3>
      <div id="display-all">
      <form action="/homepage">
          <input type="submit" value="Reset search" />
      </form>
    </div>

    <h2>-Items-</h2>

  <ul class="item-list">
        <% allItems.forEach(function(item, index) {%>
            <li>
                <ul>
                    <li>
                    <% if (item.imageurl === "") { %>
                      <img src="http://www.novelupdates.com/img/noimagefound.jpg" height="400" width="400">
                    <%} else {%>
                    <img src=<%= item.imageurl %> height="400" width="400">
                    <%}%>

                    </li>
                    <li id="itemtitle">
                    <a href="<%= item.url %>"><%= item.title %></a>

                    </li>

                    <li id="description">
                        <%= item.description %>
                    </li>
                    <li>
                        <b>TAG: </b><i><%= item.tag %></i>
                    </li>
                    <li>
                      <form action="/item/<%= item._id %>/edit">
                          <input id="edit-item" type="submit" value="Edit" />
                      </form>
                    </li>
                    <li>
                      <form action="/item/delete" method="POST">
                          <input type="submit" id="remove-item" value="Remove item" name="<%= item._id %>"></input>
                      </form>
                    </li>
                </ul>
            </li>
            <% }) %>
    </ul>
<h2 id="nomoreload">You have reached the end of this content segment.</h2>

    <script src="js/script.js" charset="utf-8"></script>
</body>

</html>
